<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kBAUserDefaultsVersion</key>
	<string>2.0.0</string>
	<key>kBAUserDefaultsForceArabic</key>
	<false/>
	<key>kBAUserDefaultsDisplayNextPrayer</key>
	<true/>
	<key>kBAUserDefaultsDisplayNextPrayerType</key>
	<integer>0</integer>
	<key>kBAUserDefaultsDisplayNextPrayerName</key>
	<integer>0</integer>
	<key>kBAUserDefaultsDisplayIcon</key>
	<true/>
	<key>kBAUserDefaultsAutoLocation</key>
	<true/>
	<key>kBAUserDefaultsLocationCity</key>
	<string>Makkah</string>
	<key>kBAUserDefaultsLocationState</key>
	<string>Makkah</string>
	<key>kBAUserDefaultsLocationCountry</key>
	<string>SA</string>
	<key>kBAUserDefaultsLocationCountryName</key>
	<string>Saudi Arabia</string>
	<key>kBAUserDefaultsLatitude</key>
	<real>21.4167</real>
	<key>kBAUserDefaultsLongitude</key>
	<real>39.8167</real>
	<key>kBAUserDefaultsTimeZone</key>
	<string>Asia/Riyadh</string>
	<key>kBAUserDefaultsMadhab</key>
	<integer>0</integer>
	<key>kBAUserDefaultsMethod</key>
	<integer>4</integer>
	<key>kBAUserDefaultsHighLatitudeRule</key>
	<integer>0</integer>
	<key>kBAUserDefaultsAutoDetectMethod</key>
	<true/>
	<key>kBAUserDefaultsAutoDetectHighLatitudeRule</key>
	<true/>
	<key>kBAUserDefaultsCustomFajrAngle</key>
	<integer>18</integer>
	<key>kBAUserDefaultsCustomIshaAngle</key>
	<real>17.5</real>
	<key>kBAUserDefaultsAdjustmentFajr</key>
	<integer>0</integer>
	<key>kBAUserDefaultsAdjustmentShuruq</key>
	<integer>0</integer>
	<key>kBAUserDefaultsAdjustmentDhuhr</key>
	<integer>0</integer>
	<key>kBAUserDefaultsAdjustmentAsr</key>
	<integer>0</integer>
	<key>kBAUserDefaultsAdjustmentMaghrib</key>
	<integer>0</integer>
	<key>kBAUserDefaultsAdjustmentIsha</key>
	<integer>0</integer>
	<key>kBAUserDefaultsHijriOffset</key>
	<integer>0</integer>
	<key>kBAUserDefaultsAlertFajrReminderEnabled</key>
	<false/>
	<key>kBAUserDefaultsAlertFajrEnabled</key>
	<true/>
	<key>kBAUserDefaultsAlertShuruqReminderEnabled</key>
	<false/>
	<key>kBAUserDefaultsAlertDhuhrEnabled</key>
	<true/>
	<key>kBAUserDefaultsAlertAsrEnabled</key>
	<true/>
	<key>kBAUserDefaultsAlertMaghribEnabled</key>
	<true/>
	<key>kBAUserDefaultsAlertIshaEnabled</key>
	<true/>
	<key>kBAUserDefaultsAlertFajrSound</key>
	<integer>7</integer>
	<key>kBAUserDefaultsAlertFajrCustomSound</key>
	<data></data>
	<key>kBAUserDefaultsAlertDhuhrSound</key>
	<integer>2</integer>
	<key>kBAUserDefaultsAlertDhuhrCustomSound</key>
	<data></data>
	<key>kBAUserDefaultsAlertAsrSound</key>
	<integer>2</integer>
	<key>kBAUserDefaultsAlertAsrCustomSound</key>
	<data></data>
	<key>kBAUserDefaultsAlertMaghribSound</key>
	<integer>2</integer>
	<key>kBAUserDefaultsAlertMaghribCustomSound</key>
	<data></data>
	<key>kBAUserDefaultsAlertIshaSound</key>
	<integer>2</integer>
	<key>kBAUserDefaultsAlertIshaCustomSound</key>
	<data></data>
	<key>kBAUserDefaultsAlertVolume</key>
	<integer>50</integer>
	<key>kBAUserDefaultsAlertFajrReminderOffset</key>
	<integer>30</integer>
	<key>kBAUserDefaultsAlertShuruqReminderOffset</key>
	<integer>30</integer>
	<key>kBAUserDefaultsDua</key>
	<true/>
	<key>kBAUserDefaultsSilentMode</key>
	<false/>
	<key>kBAUserDefaultsDelayedIshaInRamadan</key>
	<true/>
</dict>
</plist>
